body{
  background: #F6F6F6;
}
.navbar-brand img {
    float: left;
    width: 50px;
    height: auto;
    background: #555;
  }

li a{
     color: black;
}
.head-text{
  margin-top: 300px;
  width: 1169px;
}
.head-text h1{
  font-size: 64px;
  }
.head-text   h3{
 font-size: 32px;
 margin-top: 88px;
 }
.brand{
  display: flex;  
  align-items: center;
  justify-content: flex-start;
  margin-top: 147px;
}
.brand img{
  width: 640px;
  height: 640px;
}
.brand-text{
  margin-left: 35px;
}
.brand-text h1{
  font-size: 30px;

}
.brand-text h2{
  margin-top: 41px;
  font-size: 24px;
  border: 20px;

}
.brand-text h3{
  font-size: 16px;
  margin-top: 10px;
}
hr{
  width: 50%;
  text-align: start;
}
.polka  {
  display: flex;  
  align-items: center;
  justify-content: center;
  margin-top: 107px;
}
.polka-text{
  text-align: end;
  margin-right: 35px;
}
.polka-text h1{
  font-size: 30px;

}
.polka-text h2{
  margin-top: 41px;
  font-size: 24px;
  border: 20px;
}
.polka-text h3{
  font-size: 16px;
  margin-top: 10px;
}
.Polkadot{
  margin-top: 100px;
}
.magicskool{
  display: flex;  
  align-items: center;
  justify-content: center;
  margin-top: 100px;

}
.magicskool img{
  height: 640px;
  width: 800px;
}
.magicskool-text{
  text-align: end;
  margin-right: -60px;

}
.ecommerence{
  margin-top: 100px;
}
.more{
  margin-left: 221px;
  margin-top: 251.45px;
}
.more h1{
  font-size: 16px;
  color: #626262;
}
.more h2{
  font-size: 18px;
}
.end-text{
  margin-top: 130px;
  border-top: 1px solid #BDBDBD; 
}
.end-text h1{
  font-size: 48px;
padding-top: 70px;
}
.end-text h2{
  font-size: 16px;
  margin-top: 69px;
  line-height: 21px;
  padding-bottom: 113px;
}
li{
  display: inline;
  margin-right: 35px;
  
}
.end-text ul{
  margin-top: 40px;
padding: 0;
font-weight: bold;
}

.brand-logo{
  display: flex;  
  align-items: center;
  justify-content: flex-start;
  margin-top: 159px;
}
.brand-logo img{
  width: 500px;
  height: 565px;
}
.reinvention{
  margin-left: 56px;

}
.reinvention p{
font-size: 16px;
color: #2B3EED;
}
.reinvention h1{
font-size: 48px;
color: #1F2234;
margin-top: 28px;
}
.reinvention h2{
font-size: 18px;
color: #2F2F2F;
margin-top: 39px;
}
.info{
  margin-top: 236px;
  display: flex;  
  align-items: center;
  justify-content: flex-start;
}
.info img{
  width: 800px;
  height: 400px;
}
.info-text{
  margin-right: 93px;
  text-align: right;
  font-size: 14px;
color: #626262;
}
.info-text h1{
margin-top: 24px;
  font-size: 14px;

}
.line{
  width: 165px;
  height: 3px;
  margin-top: 50px;
  background: : #2B3EED;
}
.line1{
  width: 165px;
  height: 3px;
  margin-top: 100px;
  background: : #2B3EED;
}
.story{
  width:730px;
  text-align: center;
  margin: auto;
}
.story h1{
  font-size: 18px;
  color: #1F2234;
  text-transform: capitalize;
}
.story p{
  margin-top: 30px;
  font-size: 18px;
  color:#2F2F2F;
  line-height: 32px;

}
.logos{
  text-align: center;
  margin-top: 100px;
}
.logos img{
  width: 818px;
  height: 207px
}
.elaborate{
  margin-top: 50px;
  text-align: center;
  margin: auto;
  width: 786px;
}
.elaborate h1{
  font-size: 18px;
  color: #1F2234;
}
.elaborate p{
  margin-top: 30px;
  font-size: 18px;
  color: #2F2F2F;
  line-height: 32px;

}
.ideas-head{
  text-align: center;
}
.ideas-head h1{
  margin-top: 100px;
  font-size: 18px;
}
.ideas-head img{
  margin-top: 75px;
}
.icon{
  text-align: center;
}
.icon h1{
  margin-top: 75px;
  font-size: 18px
}
.icon img{
  margin-top: 75px;
  width: 1071px;
}
.final{
  text-align: center;
}
.final h1{
  font-size: 18px;
  margin-top: 75px;
}
.final p{
  font-size: 18px;
  font-weight: normal;
  margin-top: 75px;
  line-height: 32px;
}
.final img{
  margin-top: 114px;
}
.final-p{
  width: 786px;
  margin: auto;
}
.color{
  text-align: center;
}
.color h1{
  font-size: 18px;
  margin-top: 100px;
}
.color p{
  font-size: 18px;
  margin-top: 75px;
  line-height: 32px;
}
.color-logo{
  padding: 0px;
  margin-top: 75px;
}
.color-logo1{
  padding: 0px;
margin-top: 10px;
}
.color-img img{
  padding: 0px;
  width: 100%;
}
.typeface{
  text-align: center;
  margin-top: 100px;
}
.typeface h1{
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}
.typeface p{
line-height: 32px;
margin-top: 75px;
}
.double-bck{
  background-color: #1F2234;
  margin-top: 100px;
  text-align: center;
}
.double-bck h1{
  padding-top: 97px;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
}
.double-bck p{
  font-size: 18px;
  color: white;
  line-height: 32px;

}
.para-box{
  color: white;
  width: 795px;
  margin: auto;
  margin-top: 75px;
}
.main-logo{
  margin-top: 75px;
  padding-bottom: 120px;
}
.main-logo img{
margin-bottom: 12px;
}
.main-logo2{
  text-align: center;
  margin-top: 71px;
}
.main-logo2 img{
}
.image2{
  margin-top: 99px;
}
.closing-bck{
  background-color: #F6F6F6;
  text-align: center;
  margin-top: 55px;
}
.closing-bck h1{
  padding-top: 100px;
font-size: 18px;
text-transform: uppercase;
font-weight: bold;
}
.closing-bck p{
  font-size: 18px;
  line-height: 32px;
  margin-top: 45px;
}
.more-work{
  margin-top: 150px;
  margin-left: 221px;
}
.more-work h1{
  color: #626262;
  font-size: 16px;
  text-align: left;
  line-height: 21px;
}
.more-work h2{
  color: #2A2A2A;
  font-size: 18px;
  text-align: left;
  line-height: 24px;
}
.more-work h3{
  color: #2A2A2A;
  font-size: 18px;
  text-align: right;
  line-height: 24px;
  float: right;
}
.more-work i{
  margin-left: 5px;
}